body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, arial, tahoma;
}
.main {
	margin: 0 auto;
    width: 1060px;
    height: 950px;
}
/* HEADER */

.logo{
	margin: 50px 0 0 47px;
}

.menu_header{
	padding: 0;
	margin: 40px 0px 0px 47px;
	height: 40px;
	width: 966px;
	background-image: url(../img/header_bar.png);
	background-repeat: no-repeat;
}

.menu_header li{
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: transparent;
	list-style: none;
}

.menu_header a{
	display: block;
	padding: 0 45px 0 45px;
	font-size: 14.67px;
	color: #ffffff;
	line-height: 40px;
	text-decoration: none;
}

.menu_header li:hover{
	background: url(../img/hover.png) repeat-x;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

/* SIDE MENU */

.menu_goods {
	margin: 40px 0px 0px 47px;
	padding: 0;
	float: left;
	position: absolute;
	
}

.menu_goods li{
	width: 240px;
	height: 39px;
	margin-bottom: 0;
	border-left: 1px solid #838383;
	border-bottom: 1px solid #838383;
	border-right: 1px solid #838383;
	list-style: none;
}

.menu_goods li:first-child{
	border-top: 1px solid #838383;
}

.menu_goods a{
	display: block;
	margin: 0;
	padding: 0px 0px 0px 22px;
	color: #656363;
	font-size: 13.33px;
	text-decoration: none;
	line-height: 39px;
}

.menu_goods a:hover{
	padding-left: 34px;
	color: black;
}

/* CONTENT */

.img_bicycle{
	float: left;
	margin: 40px 0px 0px 333px;
	height: 400px;
	width: 678px;
	border: 1px solid gray;
		
}

.img_bicycle p{
	margin-top: 45px;
	text-align: center;
}

.lorem {
	height: 140px;
	width: 680px;
	margin: 482px 0px 40px 332px;
	
}

.lorem p{
	padding: 0px 35px 20px 40px;
	color: #656363;
	font-size: 13.33px;
	text-align: left;
}

/* FOOTER */

.footer{
	background-image: url(../img/footer_bar.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 966px;
	margin: 0px 0px 60px 47px; 
	padding: 0px;
}

.footer li{
	display: inline;
	color: #656363;
	font-size: 13.33px;
}

.footer a{
	height: 40px;
	padding: 0 45px 0 45px;
	color: #656363;
	font-size: 13.33px;
	line-height: 40px;
	text-decoration: none;
}

.footer li:last-child{
	padding-left: 223px;
	padding-right: 25px;
	text-align: right;
}

.footer li a:hover{
	text-decoration: underline;
}
